/* У нормалізаторі modern-normalize за умовчанням задано глобальний border-box та margin 0 для body. 
Якщо його підключено, то у своїх стилях box-sizing можна не вказувати. */


/* Розташування зображення в контейнері фіксованого розміру

.thumb {
    height: 400px;
    width: 300px;
}

.thumb img {
    height: 100%;
    width: 100%;
	object-fit: cover;
} */


*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    color: #434455;
    background-color: #FFFFFF;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

h1, h2, h3, h4, h5, h6 {
    color: #2E2F42;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style-type: none;
    margin: 0;
	padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.page-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.section-container { 
max-width: 1158px;
padding-left: 15px; 
padding-right: 15px; 
margin-left: auto;
margin-right: auto;
}

/* NAVIGATION */

.nav {
    display: flex;
    border-bottom: 1px solid #E7E9FC;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

/* LOGO */

.logo-link {
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-size:18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.48px;
    text-transform: uppercase;
}

.nav .logo-link {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
}

.logo-accent {
    color: #4D5AE5;
}

/* MENU & CONTACTS */

.menu.nav-list {
    flex-grow: 1;
}

.nav-list-link {
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu .nav-list-link {
    position: relative;
    color: #2E2F42;
    font-weight: 500;
}

.contacts .nav-list-link {
    color: #434455;
}

.nav-list-link:hover,
.nav-list-link:focus,
.nav-list-link.active {
    color: #404BBF;
}

.active::after {
    position: absolute;
    bottom: -1px;
    left: 0;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
}

/* HERO */

.section.hero {
    padding: 0;
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/webstudio-hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1440px;
}
.hero .section-container {
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.hero-title {
    margin-bottom: 48px;
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.0714;
    letter-spacing: 0.32px;
}

.hero-button {
    width: 170px;
    padding: 16px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.6px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* SECTION */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.list {
    display: flex;
    gap: 48px 24px;
}

.card {
    padding: 32px 16px;
}

.section-title {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.32px;
}

.section-subtitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.32px;
}

/* FEATURES */

.features .section-title {
    display: none;
}

.features .thumb {
    max-width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    background-color: #F4F4FD;
    border: 1px solid #8E8F99;
    border-radius: 4px;
}

.features-icon {
    fill: #2E2F42;
}

/* TEAM */

.section.team {
    background-color: #F4F4FD;
}

.team .list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.team .list-item {
    flex-basis: calc((100% - 72px) / 4);
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

.team .card {
    text-align: center;
}

.team .section-text {
    margin-bottom: 8px;
}

.social-list-item {
    flex-basis: calc((100% - 72px) / 4);
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover,
.social-list-item:focus {
    background-color: #404BBF;
}

/* PORTFOLIO */

.portfolio .list {
    flex-wrap: wrap;
}

.portfolio .list-item {
    position: relative;
    overflow: hidden;
    flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.portfolio .list-item:hover,
.portfolio .list-item:focus {
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio .card {
    border: 1px solid #E7E9FC;
    border-top: none;
}

.portfolio .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: #F4F4FD;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .list-item:hover .overlay,
.portfolio .list-item:focus .overlay {
    transform: translateY(0);
}

/* Footer */

.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2E2F42;
}

.footer .section-container {
    display: flex;
    gap: 120px;
}

.footer-text {
    color: #F4F4FD;
    width: 264px;
}

.footer .logo-link {
    display: block;
    margin-bottom: 16px;
    color: #F4F4FD;
}

.footer .social-title {
    margin-bottom: 16px;
    font-weight: 500;
    color: #FFF;
}

.footer .social-list-item {
    padding: 8px;
}

.footer .social-list-item:hover,
.footer .social-list-item:focus {
    background-color: #31D0AA;
}

.social-icon {
    fill: #F4F4FD;
}